<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733796190404-qhb6sstg27n4vutp5ovjgn4qoc9q6mnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733796190404-qhb6sstg27n4vutp5ovjgn4qoc9q6mnu</string>
	<key>API_KEY</key>
	<string>AIzaSyDNjTAMfE9im1u9EWp6oct3pndX68GCSOE</string>
	<key>GCM_SENDER_ID</key>
	<string>733796190404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.gymble.Memories</string>
	<key>PROJECT_ID</key>
	<string>memories-364a6</string>
	<key>STORAGE_BUCKET</key>
	<string>memories-364a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733796190404:ios:d6ebceb3b9b79eb7e5e191</string>
	<key>DATABASE_URL</key>
	<string>https://memories-364a6.firebaseio.com</string>
</dict>
</plist>